celery
redis
boto3
asyncpg
requests
runpod
openai
fastapi
uvicorn[standard]
python-multipart
numpy==1.26.4
opencv-python-headless==4.8.1.78
paddleocr==2.7.0.3
paddlepaddle-gpu==2.6.1
pillow==10.4.0
pypdfium2==4.30.0
